/config/.cloud
/config/.storage
/config/deps
/config/.uuid
/config/html5_push_registrations.conf
/config/ip_bans.yaml
/config/known_devices.yaml
/config/options.xml
/config/OZW_Log.txt
/config/secrets.yaml
/config/zwcfg_*
/config/zwscene.xml
/config/home-assistant.log